/* Archivo: src/styles/Subscription.css */

.subscription {
    padding: 20px;
    padding-bottom: 9rem;
  }
  
  .subscription h2 {
    text-align: center;
  }
  
  .subscription-button{
    border-width: 0px;
    border-style: solid;
    border-color: rgb(229, 231, 235);
    box-sizing: border-box;
    font-family: Helvetica;
    line-height: inherit;
    text-transform: none;
    appearance: button;
    background-image: none;
    cursor: pointer;
    background-color: rgb(179, 8, 8);
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      outline-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      text-decoration-color 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      fill 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      stroke 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      filter 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      backdrop-filter 0.15s cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-backdrop-filter 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        0 1px 3px 0 rgb(0 0 0 / .1),
        0 1px 2px -1px rgb(0 0 0 / .1);
      color: var(--button-color, #ffffff);
      padding: 12px 24px;
      border-radius: 32px;
      font-size: 18px;
      font-weight: 500;
      /* margin-top: 1rem;
      padding-top: 0.6rem;
      margin-left: 9rem; */
      height: auto;
      margin-top: auto;
  }

  .subscription-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  


  .subscription-card {
    background-color: #1E1E1E; /* Fondo opcional para mejor visualización */
    padding: 20px;
    border-radius: 22px;
    width: 300px;  /* Initial collapsed width */
    transition: all 0.5s ease; /* Smooth transition */
    text-align: center;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    text-align: center;
  }

  .subscription-card.expanded{
    width: 700px;
    height: 300px;
    transition: all 0.5s ease;
  }

  .card-content{
    opacity: 1;
    transition: opacity 0.5 ease;
  }

  .card-content.hidden{
    opacity: 0;
    transition: all 0.5s ease;
  }

  /* Clases para letras negras y blancas */
  .text-black {
    color: white;
    font-family: Helvetica;
  }
  
  .text-white {
    color: white;
    font-family: Helvetica;
  }

    .card-container-servicios {
      transition: all 0.5s ease;
      background-color: #1e1e1e;
      /* Dark background */
      color: white;
      /* Text color */
      padding: 20px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
      width: 700px;
      transition: all 0.5s ease;
    }
  
    .card-content-servicios {
      display: flex;
      justify-content: space-between;
      width: 100%;
      transition: all 0.5s ease;
    }
  
    .text-section-servicios {
      flex: 2;
      margin-right: 20px;
      transition: all 0.5s ease;
    }
  
    .text-section-servicios h3 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .text-section-servicios ul {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 20px;
    }
  
    .text-section-servicios ul li {
      font-size: 16px;
      margin-bottom: 5px;
      font-family: Helvetica;
      text-align: left;
    }
  
    .cta-text {
      color: #f7941d;
      /* CTA in orange */
      font-size: 40px;
      font-weight: bold;
    }
  
    .text-section-servicios p {
      font-size: 14px;
      margin-top: 20px;
    }
  
    .image-section {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 3rem;

    }
  
    .image-placeholder {
      width: 120px;
      height: 120px;
      border-radius: 15px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      text-align: center;
    }
  
    .image-placeholder p {
      font-size: 12px;
      color: #333;
    }

.clickable-text {
  color: #ffffff;
  /* A shade of blue for clickable links */
  text-decoration: underline;
  cursor: pointer;
  /* Makes it clear that this is clickable */
  transition: color 0.3s ease;
}

.clickable-text:hover {
  color: #bc0704;
  /* Darker shade of blue on hover */
}
  